html {
    margin: auto;
    padding: 0;
    background-image: url(./adrien-olichon-_GH9LwhlSO4-unsplash.jpg);
    color: silver;
    background-size: cover;
}

table, td, tr, th {
    border: 1px solid whitesmoke;
    font-family: 'Roboto Condensed', 'sans-serif';
    padding: 5px;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Nova Square', 'sans-serif';
}

.value {
    width: 100px;
}

.description {
    width: 800px;
}

h2 {
    padding-top: 50px;
}

